#!/bin/zsh

hsklogin() {
    ssh-add -e /usr/local/lib/libykcs11.dylib
    ssh-add -s /usr/local/lib/libykcs11.dylib
}

docker-clean-active() {
    docker stop $(docker ps -a -q)
    docker rm -f $(docker ps -a -q)
}

docker-clean-images() {
    docker stop $(docker ps -a -q)
    docker rm -f $(docker ps -a -q)
    docker rmi -f $(docker images -a -q)
}

docker-clean-volumes() {
    docker volume rm $(docker volume ls -q)
}

launch-repo-intellij() {
    . ./setenv
    /Applications/IntelliJ\ IDEA\ CE.app/Contents/MacOS/idea .
}
