[init]
	defaultBranch = main
[user]
	email = jonathanah1996@gmail.com
	name = Jh24816
[push]
    autoSetupRemote = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
[url "github-jonny24816:jonny24816"]
  insteadOf = git@github.com:jonny24816
